<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953574642243-b9hep7q1iia4qdn6kpttm9ivcc6ekg4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953574642243-b9hep7q1iia4qdn6kpttm9ivcc6ekg4t</string>
	<key>API_KEY</key>
	<string>AIzaSyCD50bxBP1PsP_x1uX-J_E2toq4z_L6Au8</string>
	<key>GCM_SENDER_ID</key>
	<string>953574642243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hopelessRomantic</string>
	<key>PROJECT_ID</key>
	<string>hopeless-romantics</string>
	<key>STORAGE_BUCKET</key>
	<string>hopeless-romantics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953574642243:ios:3966fddeb8c80e1f47baf6</string>
</dict>
</plist>